<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include('partials/_header') %>
    <form class="form__search_main" action="/" method="POST">
      <input
        class="search__input input_category_main"
        type="text"
        name="category"
        placeholder="What are you looking for"
      />
      <button type="submit" class="search_button button button_dark">
        Search
      </button>
    </form>
    <article class="resource__container">
      <ul class="list_resource">
        <% for (const resource of resources) { %>
        <li class="resource__item">
          <h3 class="resource__title"><%= resource.title %></h3>
          <p class="resource__description"><%= resource.description %></p>
          <a href="resource.link" class="resource__url"><%= resource.link %></a>
          <div class="resource__info">
            <div class="info__rating">
              <span
                ><i class="fa-solid fa-star"></i><%= resource.rating %></span
              >
            </div>
            <div class="info__categories">
              <p class="categories_item"><%= resources.category %></p>
            </div>
          </div>
          <button type="submit" class="resource__button button button_dark">
            Learn more
          </button>
        </li>
        <% } %>
      </ul>
    </article>
  </body>
</html>
