<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Users</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/users.js"></script>
  </head>

  <body>
    <%- include('partials/_header') %>
    <article class="user__details">
      <div class="details__wrapper">
       <table class="details__table">
          <tr>
            <th></th>
            <th></th>
          </tr>
          <tr>
            <td class="details__item item_name">name: <%= user.name %></td>
            <td>
              <form
                class="details__form"
                action="/users/<%= user_id %>"
                method="POST"
              >
                <input
                  type="text"
                  name="name"
                  placeholder="new name"
                  class="form_user input_user-name"
                >
                </input>

            </td>
          </tr>
          <tr>
            <td class="details__item item_email">email: <%= user.email %></td>
            <td>
              <input
              type="text"
              name="email"
              placeholder="new email"
              class="form_user input_user-email"
            >
            </input>

            </td>
          </tr>
          <tr>
            <td class="details__item item_password">
              password: <%= user.password %>
            </td>
            <td>
               <input
              type="text"
              name="password"
              placeholder="new password"
              class="form_user input_user-password"
            >
            </input>

            </td>
          </tr>
        </table>
          <button class="details_button button button_dark">
            Save personal info
          </button>
        </form>
      </div>
    </article>
  </body>
</html>
